neofetch/
.isolated-storage
.mono
coc/
configstore/
wireshark/
gocode/
yarn/
alfred/
iterm2/AppSupport
karabiner/automatic_backups/
litecli/
fontforge/
clash/
raycast/
github-copilot/
filezilla/
uv/uv-receipt.json
